<div class="row home-wrapper">

    <div id="product-wrapper" class="form-group col-xs-8 col-xs-offset-2 text-center">
    </div>

</div>

<script src="/javascripts/home-getProducts.js"></script>
<script src="/javascripts/home-buyProduct.js"></script>