
<nav>
				<div class="row">

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-default w-100">
							<a href="/home">Home</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-primary w-100">
							<a href="/product/add">Add product</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-info w-100">
							<a href="/token/buy">Buy Tokens</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-info w-100">
							<a href="/token/get">Token Balance</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-success w-100">
							<a href="/register/seller">Register as seller</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-success w-100">
							<a href="/register/buyer">Register as buyer</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<br>
						<button type="button" class="btn btn-info w-100">
							<a href="/withdraw">Withdraw</a>
						</button>

					</div>
				</div>
			</nav>